
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url('./myFont-2.woff') format('woff2'),
      url('./myFont-1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 35, 35);
    font-family: 'MyFont';
    color: white;
} 

/* homePage */

#homePage {
    height: 100vh;
    width: 100vw;
    background-image: url(./hearth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#logoContainer  {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin: 15px;
}

#icon {
    height: 100px;
    filter: invert(100%);
}

#welcome {
    padding: 15px 250px 0px;
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.menuButton {
    padding: 10px;
    border-radius:4px;
    border-style: none;
    font-family: 'myFont';
    font-size: 2rem;
    background-color: goldenrod;
}

.citation {
    position: relative;
    bottom: 0;
    font-size: .8rem;
    text-align: center;
    background-color: black;
    padding: 5px;
}

/* pageOne menu */

.menu-name {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
}

#parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 50px;
    padding: 20px;
    border: 1px solid goldenrod;
    margin-bottom: 20px;
    width: 90%;
}

th {
    height: 50px;
    color: goldenrod;
}

.row {
    height: 50px;
}

.menu-size {
    letter-spacing: .1rem;
}

/* pageTwo menu */

#pageTwo {
    display: flex;
    height: 100%;
    width: 100%;
}

#foodMenuContainer {
    background-color: rgb(243, 242, 228);
    color: rgb(35, 35, 35);
    width: 60%;
}

#foodList {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    align-items: center;
    padding: 15px;
    margin-top: 25px;
}

.menu-left {
    grid-column: 1 / 2;
}

.menu-right {
    grid-column: 2 / 3;
}

.food-item {
    font-weight: bold;
    font-size: 2rem;
}

.food-description, .food-price {
    font-size: 1.5rem;
}

#backgroundContainer img {
    height: 100%;
}