
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url('./myFont-2.woff') format('woff2'),
      url('./myFont-1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 35, 35);
    font-family: 'MyFont';
    color: white;
    font-size: 2rem;
} 

#logoContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 30px;
}

img {
    height: 80px;
    filter: invert(100%);
    padding: -20px;
}

#parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 50px;
    padding: 20px;
    border: 1px solid goldenrod;
    margin-bottom: 20px;
    width: 90%;
}

th {
    height: 50px;
    color: goldenrod;
}

.row {
    height: 50px;
}

.menu-size {
    letter-spacing: .1rem;
}